body{background-color: white;}
*{margin: 0px; padding: 0px;}
ul{list-style: none;} /* 리스트 앞에 . 제거 */
a{text-decoration: none;} /* 하이퍼링크에 밑줄 제거 */

#page-name{
  font-style: italic;
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 60px;
}

header{
  width: 100vw;  /* 메인구조의 사이즈 통일(headr, main, footer) */
  height: 150px;
  background: #FEAC5E;
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  position: relative;
  
}

h1{
  color:white;
  text-align: center;
}


#site-nav a{
  font-size: 25px;
  opacity: 85%;
}

#site-nav p{
  font-size: 25px;
  opacity: 85%;
}

  #site-nav{  /* 사이트간에 nav */
    position: absolute;
    top: 110px;
    right: 10px; 
    color: white;  
}



.frame{
  display: flex;
  flex-direction: column;
}


/*navigator*/


/*recent works*/

.recent-menu{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #C2B4AB;
  text-align: right;
  margin-top: 100px;
}



/*value section*/

.value-menu{
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  margin: 30px 100px;
  text-align: center;
}

.value-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin: 100px 150px;
  margin-top: 20px;
}

.value{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  margin-top: 50px;
  align-items: center;

}


.value-icon {
  width: 130px;
  height: 130px;
  border: 10px solid transparent;
  border-radius: 30px;
  background-image: linear-gradient(white, white), linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 10px;
}


.value-intro{
  margin-left: 30px;
}


.value-name{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.value-exp{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 18px;

  margin: 0px;
}




footer{
  width: 100vw;  /* 메인구조의 사이즈 통일(headr, main, footer) */
  height: 100px;
  background: #FEAC5E;
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  position: relative;
}

div a{
  color: white;
}

.div1{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  float: left;
  color: white;
}

.div2{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 17px;
  float: right;
}

table{
  color: white;
}


#page{width: 100vw; height: 100vh; margin: 0px auto;}