body{
    margin-left: 10%;
    margin-right: 10%;
    padding: 3%;
    background-color: black;
    color: white;
}


#a{
    display: flex;
    margin: 30px;
}

form{
    margin-left: 180px;
}

#alert1, #alert2 ,#alert3 ,#alert4{
    color: red;
    margin: 10px;
}


