body{background-color: white;}
*{margin: 0px; padding: 0px; }
ul{list-style: none;} /* 리스트 앞에 . 제거 */
a{text-decoration: none;} /* 하이퍼링크에 밑줄 제거 */


/** header **/
header{
  width: 100vw;  /* 메인구조의 사이즈 통일(headr, main, footer) */
  height: 150px;
  background: #FEAC5E;
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  position: relative;
  
}

#page-name{
  font-style: italic;
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 60px;
}

h1{
  color:white;
  text-align: center;
}

#site-nav{  /* 사이트간에 nav */

    position: absolute;
    top: 110px;
    right: 10px; 
    color: white;  
}

#site-nav a{

    font-size: 25px;
    opacity: 85%;
  }
/** header **/




/* body */
.frame{
  display: flex;
  flex-direction: column;
}


/* value section */

.value-menu{
  font-family: 'Montserrat', sans-serif;
  background-color: red;
  background-image: linear-gradient(45deg, #4BC0C8, #C779D0, #FEAC5E);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 35px;
  margin: 60px 100px;
  text-align: center;
}



.value-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin: 100px 150px;
  margin-top: 20px;
}

.value{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  margin-top: 50px;
  align-items: center;

}


.value-icon {
  width: 130px;
  height: 130px;
  border: 10px solid transparent;
  border-radius: 30px;
  background-image: linear-gradient(white, white), linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 10px;
}


.value-intro{
  margin-left: 30px;
}


.value-name{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700px;
  margin-top: 0px;
  margin-bottom: 10px;
}


.value-exp{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0px;
}


/* RECENT WORKS */

.recent-works{
  display: flex;
  flex-direction: column;
}

.article{
  display: flex;
  flex-direction: row;
  margin-bottom: 120px;
  align-items: center;
}

.thumbnail{
  width: 600px;
  margin-left: 100px;
}

.thumbnail2{
  width: 600px;
  margin-right: 100px;
}

.thumbnail3{
  width: 800px;
  height: 650px;
  margin-left: 100px;
}

.article-info{
  margin: 0px 20px;
}

.article-name{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.article-name1{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 30px;
  color: pink;
  background-color: red;
  background-image: linear-gradient(45deg, #4BC0C8, #C779D0, #FEAC5E);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
}

.article-name:hover{
  color: pink;
  background-color: red;
  background-image: linear-gradient(45deg, #4BC0C8, #C779D0, #FEAC5E);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
  transition: 0.8s;
}



.article-comment{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 100;
  width: 80%;
}

.article-comment2{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin-left: 100px;
  padding-left: 50px;
}

.more{
  width: content;
  height: content;
  float: right;
  margin-right: 10px;


  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px;
}


#name1{
  position: relative;
  top: 50px;
  right: 50px;
}

#name1-1{
  position: relative;
  right: 0px;
}

#name1:hover{
  background-color: red;
  background-image: linear-gradient(45deg, #4BC0C8, #C779D0, #FEAC5E);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#name2{
  text-align: right;
  position: relative;
  top: 25px;
  left: 20px;
  margin-bottom: 0px;
}

#name2-1{
  text-align: right;
  position: relative;
  top: 10px;
  left: 55px;
}


#name3{
  position: relative;
  top: 50px;
  right: 70px;
}

#name3-1{
  position: relative;
  right: 0px;
}
/* body */

/* footer */
footer{
  width: 100vw;  /* 메인구조의 사이즈 통일(headr, main, footer) */
  height: 100px;
  background: #FEAC5E;
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  position: relative;
}

div a{
  color: white;
}

.div1{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  float: left;
  color: white;
}

.div2{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 17px;
  float: right;
}

table{
  color: white;
}
/* footer */