<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,800;0,900;1,200;1,400;1,500;1,600;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <title>Myplan</title>
    </head>
    <body>
        <div id="page">
            <!-- start header -->
            <header>
                <h1 id="page-name">My plan</h1>
    
                <div id="site-nav">
                    <h4>
                        <a href="gibum1.html">Introduce</a>  |
                        <a href="gibum3.html">Good & Not Good</a>  |
                        <a href="gibum4.html">Future</a>  |
                        <a href="index.html">HOME</a>
                    </h4> 
                </div>
            </header>
            <!-- end header -->



                   <!-- body start -->
        <body class="frame">
    
            <h5 class="value-menu">5 YEARS LATER</h5>
    
            <div class="recent-works">
                <div class="article" id="arti1">
                    <img class="thumbnail3" src="/images/developer.jpg">
                    <article class="article-info">
                        <h3 class="article-name1" id="name1">FRONT-END</h3>
                        <h3 class="article-name1" id="name1-1">DEVELOPER</h3>
                        <p class="article-comment">
                            # Front End 프론트 엔드 란? 
                            사용자가 웹사이트를 이용할 때, 사이트와 직접적으로
                             상호작용하여 접촉 하는 부분을 프론트 엔드라고 한다.  
                             프론트엔드 개발자는 웹사이트에서 보여지는 글꼴, 생각, 메뉴 등 
                            사용자에게 시각적으로 보여지는 부분을 구축하고 배치하는 역할을 한다. 
                             # 프론트엔드 개발자는 크게 직무 3가지로 크게 나뉘어 진다.<br>
                            - 웹 디자이너 = 웹 사이트를 만들기 보다는 웹 사이트를 디자인해 꾸며주는 일<br>
                            - 웹 퍼블리셔 = 국내에서만 사용하는 단어로 해외에서는 UI개발자로 불린다. <br>
                            - 프론트엔드 디벨로퍼 = 웹 디자이너의 디자인 한 것들을 코딩을 통해 재 정비하는 일 <br>
                            # 프론트엔드 개발자는 앞서 퍼블리싱한 내용을 바탕으로 API를 웹 페이지에 
                            적용하고 벡엔드와 연동시켜 실제 작동이 가능한 웹 페이지를 코딩하는 업무를 한다.  
                            프론트 앤드 개발자에게 필요한 역량 프론트 엔드 개발자는 웹 표준 반응형 웹과 UI를 만드는 디자인 영역, 이벤트나 
                            서버와 API통신해서 로직을 어떻게 푸는 관점을 중시한다. 그렇기 때문에 개발 
                            스킬과 미적 감각의 역량이 요구된다.
                            HTML, CSS 등 기본적인 마크업과 UI/UX 디자인의 기술적 실행 가능성을 파악하고
                             와이어 프레임 디자인에 알맞은 코딩을 해야한다.
                            이렇게 UI/UX디자인의 이해와 JS코딩뿐만 아니라 최근, Angular.Js, Node.Js , React.js, 
                            Vue JS, JQuery,Ajax 등의 최신 프레임 워크 중 하나 이상의 지식 보유하거나 실무에 활용
                             가능한 프론트엔드 디벨로퍼가 각광 받고 있다.
                            프론트엔드를 개발하기 위해서 순수 JavaScript 로 코드를 짤 수 있는 역량도 중요하지만, 
                            최소 한가지 이상의 frame work(프레임 워크), 라이브러리를 통해 빠르고 효율적이게 문제를 해결할 수 있기 때문이다.
                        </p>
                    </article>
                </div>
            </div>
        </body>
        <!-- body start -->

        <!-- footer start  -->
        <footer class="footer">
            <div class="div1">                   
                Name : 김기범<br>
                Age : 24<br>
                Email : g16um9806@gmail.com<br>
                Git Hub :<a href="https://github.com/g16um98" target="_blank"> https://github.com/g16um98</a><br>
            </div>    
            <div>
                <table class="div2">
                    <thead>
                        <tr>
                            <th colspan="2">Developer : 김기범</th>
                        </tr>
                    </thead>
                        <tr>
                            <td>Front : </td>
                                <td>HTML , CSS , JavaScript</td>
                        </tr>
                        <tr>
                            <td>back : </td>
                            <td>JAVA , JAVA , JAVA</td>
                        </tr>
                </table>
            </div>
        </footer>
        <!-- footer end --> 
    </body>
</html> 