<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,800;0,900;1,200;1,400;1,500;1,600;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <title>Future</title>
    </head>
    <body>
        <div id="page">
            <!-- start header -->
            <header>
                <h1 id="page-name">Good & Not Good</h1>
    
                <div id="site-nav">
                    <h4>
                        <a href="gibum1.html">Introduce</a>  |
                        <a href="gibum2.html">My plan</a>  |
                        <a href="gibum4.html">Future</a>  |
                        <a href="index.html">HOME</a>
                    </h4> 
                </div>
            </header>
            <!-- end header -->



                   <!-- body start -->
        <body class="frame">
    
            <h5 class="value-menu">I can do!</h5>
    

            <div class="recent-works">
                <article class="article" id="arti1">
                    <img class="thumbnail" src="/images/strong.jpg">
                    <div class="article-info">
                        <h3 class="article-name" id="name1-1">STRONG POINT</h3>
                        <p class="article-comment">저는 야구를 하며 같은 부의 인대가 6번 끊어지고 1번의 골절이 있었습니다.
                            많은 부상이 있었지만, 꾸준한 재활운동과 할수 있다는 자신감을 갖고 포기하지 않았습니다
                            그렇게 저는 가장 중요했던 고등학교 시즌에서 0.403(4할3리) 라는 대기록을 세울수 있었습니다.
                            누구에게나 슬럼프는 있습니다. 하지만 슬럼프가 오거나 더이상 전진하지 못하고 제자리 걸음을 하고있다는 느낌을 받을 때,
                            그것을 이겨내는 방법은 사람마다 다르고 그 방법을 깨우치는것 조차 쉽지않습니다.
                             저는 실패하거나 어려운 상황일 때 성장할 수 있는 단단한 사람이고 생각하고, 이것은 저의 가장 큰 장점입니다.
                        </p>
                    </div>
                </article>

                <article class="article" id="arti2">
                    <div class="article-info">
                        <h3 class="article-name" id="name2">겨우 찾아낸 단점</h3>
                        <h3 class="article-name" id="name2-1">WEAKNESSES</h3>
                        <p class="article-comment2" id="comment2">
                            생각이 많은것이 모든 상황에서 단점으로 다가오는것은 아니지만.
                            쉽게 풀어나갈수 있는 문제를 불필요한 부분까지 생각해서 시간을 지체하는 경우도 있었습니다.
                            분명 이렇게 단점이 될때도 있지만, 이러한 저의 혼자만에 생각에서 저는 한단계 발전하고 획기적인 사람이 된다고 생각합니다.
                            정해진 룰에 따르는 것은 당연한 일이지만.
                            항상 보다 효율적인 사람이 되기위해 꾸준히 연구하고 개발하는 합리적인 생각을 많이 하는 사람이 되겠습니다.
                        </p>
                    </div>
                    <img class="thumbnail2" src="/images/stone.jpg">
                </article>


            </div>
        </body>
        <!-- body start -->

        <!-- footer start  -->
        <footer class="footer">
            <div class="div1">                   
                Name : 김기범<br>
                Age : 24<br>
                Email : g16um9806@gmail.com<br>
                Git Hub :<a href="https://github.com/g16um98" target="_blank"> https://github.com/g16um98</a>
            </div>    
            <div>
                <table class="div2">
                    <thead>
                        <tr>
                            <th colspan="2">Developer : 김기범</th>
                        </tr>
                    </thead>
                        <tr>
                            <td>Front : </td>
                                <td>HTML , CSS , JavaScript</td>
                        </tr>
                        <tr>
                            <td>back : </td>
                            <td>JAVA , JAVA , JAVA</td>
                        </tr>
                </table>
            </div>
        </footer>
        <!-- footer end --> 
    </body>
</html> 