<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style/style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Introduce</title>
    </head>
    <body>
        <div id="page">
            <!-- start header -->
            <header>
                <!-- Logo 만들어서 삽입하기 -->
                <!-- <div id="logo">
                    <img src="/images/logo1.png" alt="Logo">
                </div> -->

                <h1><a href="index.html" rel="main-page">Kim Gibum</a></h1>

                <div id="site-nav">
                    <h4>
                        <a href="gibum2.html">My plan</a> |
                        <a href="gibum3.html">Confidence</a> |
                        <a href="gibum4.html">Future</a>
                    </h4> 
                </div>
                
            </header>
            <!-- end header -->



            <!-- start main -->
            <main>
                <h2>Main</h2>
                    <div class="nav">
                        <label for="expand-nav"><b>MENU</b></label>   
                        <ul>
                            <li><a href="#" class="item">1</a></li>
                            <li><a href="#" class="item">2</a></li>
                            <li><a href="#" class="item">3</a></li>
                            <li><a href="#" class="item">4</a></li>
                        </ul>
                    </div>
                <!-- <div>
                    <label for="hobby-select">Choose hobie</label>

                    <select name="hobby" id="hobby-select">
                        <option value="">--please choose option</option>
                        <option value="soccer">Soccer</option>
                        <option value="baseball">Baseball</option>
                        <option value="pingpong">Pingpong</option>
                    </select>
                </div> -->

                
            </main>
            <!-- end main -->

            <!-- start footer-->
            <footer>
                <span>
                    <div class="div1">                   
                        Name : 김기범<br>
                        Age : 24<br>
                        Email : g16um9806@gmail.com<br>
                        Git Hub :<a href="https://github.com/g16um98" target="_blank"> https://github.com/g16um98</a><br>
                    </div>    
                    <div>
                        <table class="div2">
                            <thead>
                                <tr>
                                    <th colspan="2">Developer : 김기범</th>
                                </tr>
                            </thead>
                                <tr>
                                    <td>Front : </td>
                                        <td>HTML , CSS , JavaScript</td>
                                </tr>
                                <tr>
                                    <td>back : </td>
                                    <td>JAVA , JAVA , JAVA</td>
                                </tr>
                        </table>
                    </div>
                </span>
            </footer>
            <!-- end footer-->
        </div>
    </body>
</html> 