<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>main page</title>
        <link rel="stylesheet" href="/style/main-page.css">
        <link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;600&family=Shrikhand&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- headr -->
        <header>
            <b id="bthome">MENU</b>
                <li id="bt02"><a href="/views/gibum1.html">1</a></li>
                <li id="bt03"><a href="/views/gibum2.html">2</a></li>
                <li id="bt04"><a href="/views/gibum3.html">3</a></li>
                <li id="bt05"><a href="/views/gibum4.html">4</a></li>
                <li id="bt05"><a href="/views/gibum5.html">5</a></li>
        </header>
        <!-- headr -->

        <!-- main -->
        <section>
            <div id="window1">
                <div id="intro">
                    <h1>Hi, im Gibum</h1>
                    <h3>지금부터 날 소개하지</h3>
                </div>
            </div>

            <div id="window2">
                <img id="mock" src="mock.png" alt="">
                <div id="myself">
                  <h1>야구선수가 아닌!</h1>
                  <h2>프론트엔드 개발자가 되기위한 앞으로의 과정</h2>
                </div>
              </div>
        </section>

        <!-- main -->
    </body>
</html>