<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <aside id="main-aside">
            <div class="aside-list">
                <h3>카테고리</h3>
                <ul>
                    <li>
                        <a href="myself.html">자기소개</a>
                    </li>
                    <li>
                        <a href="myself2.html">나의 장단점</a>
                    </li>
                    <li>
                        <a href="myself4.html">자신있는 것</a>
                    </li>
                    <li>
                        <a href="myself5.html">미래의 나</a>
                    </li>
                </ul>
            </div>
        </aside>

        <h3 class="title"><p style="border-left: 10px solid #688ff4; padding: 0.5em; border-bottom: 2px solid #688ff4;">
            고민중이거나 흥미가 높은 진로</p></h3>
        
        <p><div id="wish">
            프론트엔드 개발자가 되기위해 갖춰야할 기본적인 기술적 소양인 웹 퍼블리셔의 핵심 역량(HTML, CSS, JS)에 대한 공부에 집중하고있다.<br>
            프론트엔드 개발자가 옵션으로 가지고 있으면 좋은 기술들 이지만, 필수적으로 익혀야한다는 생각을 하기 때문이다.<br>
            프론트엔드 개발자는 사용자가 필요한 데이터를 보여주는 역할이기에, 필연적으로 HTML을 만나기 때문이다.<br>
            코드로 이루어진 상태의 무언가를 유저가 볼수있게 인터페이스로 구현하는 프론트엔드 개발자의 매력은 무궁무진 하다고 생각한다.<br>
            프론트엔드 개발자라고 해서 UI/UX의 대한 이해 웹 퍼블리싱 및 한쪽에만 비중을 두어서는 안된다.<br>
            서버와 데이터를 다루는 백엔드 개발자와의 Communication을 위해 네트워크도 알아야 하며 앞으로 나아가야 할 진로에 당연하게 포함되어있다고 생각한다.
        </div></p>
    </body>
</html>