<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <aside id="main-aside">
            <div class="aside-list">
                <h3>카테고리</h3>
                <ul>
                    <li>
                        <a href="myself.html">자기소개</a>
                    </li>
                    <li>
                        <a href="myself2.html">나의 장단점</a>
                    </li>
                    <li>
                        <a href="myself3.html">진로 계획</a>
                    </li>
                    <li>
                        <a href="myself5.html">미래의 나</a>
                    </li>
                </ul>
            </div>
        </aside>

        <h3 class="title"><p style="border-left: 10px solid #688ff4; padding: 0.5em; border-bottom: 2px solid #688ff4;">
            가장 자신있는 것</p></h3>
        
        <p><div id="Confident">
            <b>체력</b><br>
            막연하게 "운동을 했기 때문에 체력에 자신있다." 가 아닌 성격 때문에도 저는 체력에 자신이 있습니다.<br>
            위에서 이야기했던 포기하지않는 성격때문에 저의 체력및 정신력은 더욱 극대화 됩니다.<br>
            목적을 이루기 위해 한가지에만 몰두하는 능력도 갖고있는 체력의 역량에서 나온다고 생각합니다.<br>
            신체적으로 갖고있는 체력에도 자신이 있지만, 더 나아가 맡은 바에 대한 책임감과 정신력도 충만합니다!
        </div></p>
    </body>
</html>